<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Public officials disclosures</title>
  <meta name="description" content="Public officials disclosures">
  <meta name="author" content="Star Tribune">

  <style>
    .report {
      margin: 2em 0;
    }

    .report .section {
      margin-left: 1em;
    }

    .report h3 {
      margin-bottom: 0.2em;
    }

    .report h4 {
      margin-bottom: 0.2em;
    }

    .report ul {
      margin-top: 0;
    }
  </style>

</head>

<body>

  {% block content %}
  {% endblock %}

</body>
</html>
