[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
notebook = "*"
awscli = "*"

[packages]
django = "*"
psycopg2-binary = "*"
requests = "*"
beautifulsoup4 = "*"
csvkit = "*"
django-postgres-copy = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
